<a href="https://colab.research.google.com/github/DeNerd1/Laboratory_5/blob/main/Exercise_5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 1 - Basic statistics of the data

In this problem your task is to open and explore a weather data file using pandas. The data file name is `6153237444115dat.csv`. Donwload the file from Canvas as it will be needed to complete the assignments of exercise 5.

### Scores for this problem

**Assesments will be based on following criteria:**

- Importing the pandas module
- Reading the data using pandas into a variable called `data`
- Calculating a number of values from the data file used in this problem
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem

### Part 1

Your first task is to import pandas and read in the data file.

- Import the pandas module
- Read the data into a variable called `data` using pandas

**Hint**: When reading the data, you need to consider a couple of things:

- Ideally, the input file should be located in the folder that you are running your Notebook to have the least path conflicts
- No-data values are specified with varying number of `*` characters in the input file. You can tell this to pandas by specifying the following parameter in the pandas `read_csv()` function: `na_values=['*', '**', '***', '****', '*****', '******']`

In [5]:
import pandas as pd

data = pd.read_csv("/content/sample_data/6153237444115dat.csv",na_values=['*', '**', '***', '****', '*****', '******'])
print(data)

# YOUR CODE HERE

        USAF   WBAN  YR--MODAHRMN    DIR   SPD   GUS   CLG  SKC   L   M  ...  \
0      28450  99999  201705010000  174.0  10.0  14.0   NaN  NaN NaN NaN  ...
1      28450  99999  201705010020  180.0  10.0   NaN   4.0  NaN NaN NaN  ...
2      28450  99999  201705010050  190.0  10.0   NaN   4.0  NaN NaN NaN  ...
3      28450  99999  201705010100  188.0  12.0  16.0   NaN  NaN NaN NaN  ...
4      28450  99999  201705010120  200.0  13.0   NaN   2.0  OBS NaN NaN  ...
...      ...    ...           ...    ...   ...   ...   ...  ...  ..  ..  ...
11689  29980  99999  201708311900  144.0  12.0  20.0  50.0  BKN NaN NaN  ...
11690  29980  99999  201708312000  137.0  14.0  20.0  40.0  BKN NaN NaN  ...
11691  29980  99999  201708312100  160.0  13.0   NaN   NaN  BKN NaN NaN  ...
11692  29980  99999  201708312200  170.0  12.0  21.0  28.0  OVC NaN NaN  ...
11693  29980  99999  201708312300  192.0  13.0  21.0  19.0  BKN NaN NaN  ...

          SLP    ALT     STP  MAX  MIN  PCP01  PCP06  PCP24  PCPXX    SD
0      1009.2    NaN   984.1  NaN  NaN    NaN    NaN    NaN    NaN  35.0
1         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
2         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
3      1009.1    NaN   984.0  NaN  NaN    NaN    NaN    NaN    NaN  35.0
4         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
...       ...    ...     ...  ...  ...    ...    ...    ...    ...   ...
11689  1007.7    NaN  1004.7  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11690  1006.9    NaN  1003.9  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11691  1006.1    NaN  1003.2  NaN  NaN    NaN    NaN    NaN    NaN   NaN
11692  1006.1    NaN  1003.1  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11693  1005.8    NaN  1002.8  NaN  NaN    NaN    NaN    NaN    NaN   0.0

[11694 rows x 33 columns]

Check that the first rows of the DataFrame look ok:

In [6]:
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174.0,10.0,14.0,NaN,NaN,NaN,NaN,...,1009.2,NaN,984.1,NaN,NaN,NaN,NaN,NaN,NaN,35.0
1,28450,99999,201705010020,180.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28450,99999,201705010050,190.0,10.0,NaN,4.0,NaN,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28450,99999,201705010100,188.0,12.0,16.0,NaN,NaN,NaN,NaN,...,1009.1,NaN,984.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0
4,28450,99999,201705010120,200.0,13.0,NaN,2.0,OBS,NaN,NaN,...,NaN,29.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Part 2

In the cell below, fill in the variables values to print answers to these questions:

- How many rows is there in the data (variable `rows`)?
- What are the column names (variable `column_names`)?
- What are the datatypes of the columns (variable `column_datatypes`)?

In [8]:
row_count = len(data)
column_names = data.columns.to_list()
column_datatypes = data.dtypes

# YOUR CODE HERE

In [9]:
# Print the number of rows in the dataframe:
print(f"There are {row_count} rows")

There are 11694 rows

In [10]:
# Print the column names:
print(f"The columns are: \n{column_names}")

The columns are:
['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L', 'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2', 'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01', 'PCP06', 'PCP24', 'PCPXX', 'SD']

In [11]:
# Print the column datatypes:
print(f"The column types are: \n{column_datatypes}")

The column types are:
USAF              int64
WBAN              int64
YR--MODAHRMN      int64
DIR             float64
SPD             float64
GUS             float64
CLG             float64
SKC              object
L               float64
M               float64
H               float64
VSB             float64
MW              float64
MW.1            float64
MW.2            float64
MW.3            float64
AW              float64
AW.1            float64
AW.2            float64
AW.3            float64
W               float64
TEMP            float64
DEWP            float64
SLP             float64
ALT             float64
STP             float64
MAX             float64
MIN             float64
PCP01           float64
PCP06           float64
PCP24           float64
PCPXX           float64
SD              float64
dtype: object

### Part 3
In the cell below, fill in the variables values to print answers to these questions:

- What is the mean Fahrenheit temperature in the data (`temp_mean` variable calculated from the `TEMP` column)?
- What is the standard deviation of the maximum temperature (`temp_max_std` variable calculated from the `MAX` column)?
- How many unique stations exists in the data (`station_count` variable calcualted from the `USAF` column)?

In [22]:
# Calculate mean temperature
temp_mean = data['TEMP'].mean()

# Calculate standard deviaton of the maximum temperature:
# Interesting how this works as well df['MAX'].dropna().std(), its seems pandas is smart enough to remove the N/A without the need to drop them.
temp_max_std = data['MAX'].std()

#Calculate number of unique stations:
station_count = data['USAF'].nunique()

# YOUR CODE HERE

In [23]:
# Check mean temperature value
print(f"The mean temperature in Fahrenheit is {round(temp_mean,1)}")

The mean temperature in Fahrenheit is 52.2

In [28]:
# Check standard deviation value
print(f"The standard deviation of maximum temperature is {round(temp_max_std, 1)}")
print(data['MAX'].dropna().std())

The standard deviation of maximum temperature is 10.3
10.30798909464196

In [26]:
# Check number of stations value
print(f"The number of unique stations is {station_count}")

The number of unique stations is 2

### Assignment 1 summary

- Did you have any problems with Assignment 1?

Also, make sure to:

- Check that your code includes informative comments explaining what your code does


Please write your answers and comments below (**activate the cell by double clicking**).

No, issue at all.

### On to Problem 2

Sources for the exercise : https://geo-python-site.readthedocs.io/en/latest/ running on a Attribution-ShareAlike 4.0 International Licence https://creativecommons.org/licenses/by-sa/4.0/deed.en