## Assignment 2 - Data manipulation and selection 

In this problem you will clean the data from our data file by removing no-data values, convert temperature values in Fahrenheit to Celsius, and split the data into separate datasets using the weather station identification code. We will start this problem by cleaning and converting our temperature data. Please perform the tasks below by writing your code into the codeblocks in each section.


### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Creating a new dataframe called `selected` that contains select columns from the data file
- Cleaning the new dataframe by removing no-data values
- Creating a new column for temperatures converted from Fahrenheit to Celsius
- Dividing the data into separate dataframes for the Station1 and Station2
- Saving the new dataframes to CSV files
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem

### Part 1 (0 points)

The first step for this problem is to read the data file `6153237444115dat.csv` again into a variable `data` using pandas. Remember to specify the no-data values (you can copy your code from Problem 1).

In [ ]:
data = None

# YOUR CODE HERE

Check that the first rows of the DataFrame look ok:

Check the number of rows in the DataFrame:

### Part 2

Next, your task is to subset the data and remove rows with missing temperature values.

- Select the columns `USAF`, `YR--MODAHRMN`, `TEMP`, `MAX`, and `MIN` from the `data` dataframe and assign them to the variable `selected`
- Remove all rows from `selected` that have NoData in the column `TEMP` using the `dropna()` function

In [ ]:
selected = None

# YOUR CODE HERE

Check that you selected the correct column names:

In [ ]:
selected.head()

Check how many rows you have after removing the no-data values:

In [ ]:
len(selected)

### Part 3 (1 point)

Next, you can convert the temperature values in Fahrenheit to Celsius.

- Create a new column in `selected` called `Celsius`
- Convert the Fahrenheit temperatures from `TEMP` using the conversion formula below and store the results in the new `Celsius` column.

$$
\Large
\begin{equation}
  T_{\mathrm{Celsius}} = (T_{\mathrm{Fahrenheit}} - 32)~/~1.8
\end{equation}
$$

- Round the values in the `Celsius` column to have 0 decimals (**do not** create a new column, update the current one)
- Convert the `Celsius` values into integers (**do not** create a new column, update the current one)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Check your dataframe
selected.head()

In [ ]:
# Check data types
print(selected.dtypes)

### Part 4 

Your next task is to divide `selected` into two separate dataframes. Please use the given variable names and write your answer to the codeblock below.

- Select all rows from the `selected` DataFrame with the `USAF` code `29980` into a variable called `Station1`
- Select all rows from the `selected` DataFrame with the `USAF` code `28450` into a variable called `Station2`

In [ ]:
Station1 = None
Station2 = None

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Check the dataframe
print(f"Station1: \n{Station1.head()}\n")

In [ ]:
# Check the dataframe
print(f"Station2: \n{Station2.head()}\n")

### Part 5 (1 point)

Now you can save your selections to csv files.

- Save the `Station1` DataFrame into the file `Station1.csv` (CSV format) 
    - Separate the columns with commas (`,`)
    - Use only 2 decimals for the floating point numbers
- Save the `Station2` DataFrame into the file `Station2.csv` (CSV format) 
    - Separate the columns with commas (`,`)
    - Use only 2 decimals for the floating point numbers
- Remember to commit both data files to your Exercise 5 repository

In [ ]:
# YOUR CODE HERE

### Assignment  2 summary

- Was anything unclear to you in Assignment 2?
- Did you encounter any problems with decimal formatting?


Please write your answers and comments below.